@import url('./normalize.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6d9b6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: black;
}
.container {
  max-width: 400px;
  padding: 0 10px;
  margin: 0 auto;
}
input {
  display: none;
}
.meme {
  display: block;
  border-top: 1px solid grey;
  padding: 5px 0;
  margin-top: 15px;
}
.meme-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 35px;
  height: 35px;
  background-image: url(./imgs/plus.svg);
  background-size: contain;
  background-position: center;
}
.meme-img {
  width: 90%;
  margin: 15px auto 0;

  max-height: 0;
  transform: scale(0);
  overflow: hidden;
  transition: max-height 0.5s, transform 0.7s;
}
.meme-img img {
  display: block;
  width: 100%;
  height: auto;
}
input:checked + .meme .meme-img {
  max-height: 1500px;
  transform: scale(1);
}
input:checked + .meme .icon {
  background-image: url(./imgs/xmark.svg);
}
@media screen and (min-width: 820px) {
  body {
    font-size: 2rem;
  }
  .container {
    max-width: 500px;
  }
  .content {
    transition: 0.3s linear;
    color: blue;
  }
  .icon {
    transition: opacity 0.3s;
    opacity: 0;
  }
  .content:hover {
    color: black;
  }
  .content:hover .icon {
    opacity: 1;
  }
  input:checked + .meme {
    color: black;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 2.5rem;
  }
  .container {
    max-width: 700px;
  }
  .meme {
    cursor: pointer;
  }
  .meme:hover .meme-img {
    max-height: 1500px;
    transform: scale(1);
  }
  .meme:hover .icon {
    background-image: url(./imgs/xmark.svg);
  }
}
